body {
    margin: 0 auto; 
    background-color: #3A3B3C;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px;
    grid-template-areas:
        "header"
        "content"
        "footer";
}

header, main, footer {
    padding: 10px;
    background-color: white;
}

header {
    display: block;
    grid-area: header;
    background-color: black;
    height: 6%;
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    grid-area: content;
    background-color: #3A3B3C;
    margin-top: -3.5%;
    padding-bottom: 15%;
    padding-top: 5%;
}
 
footer {
    grid-area: footer;
    background-color: black;
    height: 6%;
    color: gray;
    position: fixed;
    padding: 10px, 10px, 0px, 10px;
    bottom: 0;
    width: 100%;
}

a {
    font-size: 200%;
    line-height: 250%;
    padding-right: 3%;
    color: white;
    font-size: x-large;
    -webkit-transition: color 500ms ease-in-out;
    -ms-transition: color 500ms ease-in-out;
    transition: color 500ms ease-in-out;
}

a:hover {
    color: blue;
    -webkit-transition: color 500ms ease-in-out;
    -ms-transition: color 500ms ease-in-out;
    transition: color 500ms ease-in-out;
}

article {
    text-align: center;
}

article {
    font-size: 18px;
    padding-left: 10%;
    padding-right: 10%;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

#mainlink {
    color: rgb(194, 61, 0);
    padding-left: 2%;
}

#copyright {
    padding-left: 2%;
    font-size: 18px;
    line-height: 120%;
}

.footer {
    display: inline-block;
    line-height: 300%;
}

#kontaktlink {
    float: right;
    line-height: 120%;
    padding-right: 2%;
    color: gray;
    font-size: 18px;
    padding-right: 4%;
}

h1, h2 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding-bottom: 5%;
    text-align: left;
}

.secondtd {
    padding-left: 20%;
}

@media screen and (max-width: 600px) {

    body {
        grid-template-columns: 100%; 
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "header"
            "content"
            "footer";
    }
    
    #navi {
        display: flex;
    }

    #navi li {
        border: 1px solid black;
        padding: 10px;
        background-color: white;
        flex-direction: column;
        list-style: none;
        margin-right: 5px;
    }

    a {
        line-height: 180%;
    }

    footer {
        height: 5%;
        grid-area: footer;
        background-color: black;
        height: 6%;
        color: gray;
        position: fixed;
        padding: 10px, 10px, 0px, 10px;
        bottom: 0;
        width: 100%;
    }

    header {
        display: block;
        grid-area: header;
        background-color: black;
        height: 4%;
        position: fixed;
        top: 0;
        width: 100%;
    }

    main {
        grid-area: content;
        background-color: #3A3B3C;
        margin-top: -3.5%;
        padding-bottom: 15%;
        padding-top: 15%;
    }
    
}